Repository Vantiq/vantiq-extension-sources, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Update test base to set up fake config file.
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/NeuralNetTestBase.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Update camera address(es). Continuing game of whack-a-mole.
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/TestObjRecConfig.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/imageRetriever/TestNetworkStreamRetriever.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestNoProcessorQueries.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestParallelProcessing.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloQueries.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloQueriesLocationMapper.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Update log4j to new 2.16.0 which disables jndi lookups by default
  build.gradle
Owners: @fhcarter, @pbutterworth

Bring TestJMS up to snuff so it creates a fake config file
  jmsSource/src/test/java/io/vantiq/extsrc/jmsSource/TestJMSBase.java
Owners: @fhcarter, @pbutterworth

Make test conditional on all JMS properties being set correctly.
  jmsSource/src/test/java/io/vantiq/extsrc/jmsSource/TestJMS.java
Owners: @fhcarter, @pbutterworth

Sider fixes
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/imageRetriever/TestNetworkStreamRetriever.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Sider fixes
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/imageRetriever/TestNetworkStreamRetriever.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Fix quotes in error messages
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketListener.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionCore.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Remove jcenter refs, fix up tests, another log4j update (#297)
  CSVSource/build.gradle
  EasyModbusSource/build.gradle
  build.gradle
  extjsdk/build.gradle
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketListener.java
  jdbcSource/build.gradle
  jmsSource/build.gradle
  jmsSource/src/test/java/io/vantiq/extsrc/jmsSource/TestJMS.java
  jmsSource/src/test/java/io/vantiq/extsrc/jmsSource/TestJMSBase.java
  objectRecognitionSource/build.gradle
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionCore.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/TestObjRecConfig.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/imageRetriever/TestNetworkStreamRetriever.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/NeuralNetTestBase.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestNoProcessorQueries.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestParallelProcessing.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloQueries.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloQueriesLocationMapper.java
  opcuaSource/build.gradle
  testConnector/build.gradle
  udpSource/build.gradle
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Upgrade Gradle to new version.
  CSVSource/build.gradle
  EasyModbusSource/build.gradle
  build.gradle
  extjsdk/build.gradle
  gradle/wrapper/gradle-wrapper.properties
  jdbcSource/build.gradle
  jmsSource/build.gradle
  objectRecognitionSource/build.gradle
  opcuaSource/build.gradle
  testConnector/build.gradle
  udpSource/build.gradle
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Upgrade Gradle to new version. (#300)
  CSVSource/build.gradle
  EasyModbusSource/build.gradle
  build.gradle
  extjsdk/build.gradle
  gradle/wrapper/gradle-wrapper.properties
  jdbcSource/build.gradle
  jmsSource/build.gradle
  objectRecognitionSource/build.gradle
  opcuaSource/build.gradle
  testConnector/build.gradle
  udpSource/build.gradle
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Move to common location to define camera URLs.
  objectRecognitionSource/build.gradle
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/ObjRecTestBase.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/imageRetriever/TestNetworkStreamRetriever.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestNoProcessorQueries.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestParallelProcessing.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloQueries.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloQueriesLocationMapper.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Delete old code
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Sider fixes
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

More sider fixes...
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Move to common location to define camera URLs. (#301)
  objectRecognitionSource/build.gradle
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/ObjRecTestBase.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/imageRetriever/TestNetworkStreamRetriever.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestNoProcessorQueries.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestParallelProcessing.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloQueries.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloQueriesLocationMapper.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Add `duplicatesStrategy` to `fatJar` task.
  extjsdk/build.gradle
Owners: @fhcarter, @AlexBlumer, @namirfa

Add `duplicatesStrategy` to `fatJar` task. (#303)
  extjsdk/build.gradle
Owners: @fhcarter, @AlexBlumer, @namirfa

.github/CODEOWNERS:

* @fhcarter @pbutterworth

/opcuaSource @fhcarter
/udpSource @fhcarter @AlexBlumer @namirfa
/extjsdk @fhcarter @AlexBlumer @namirfa
/objectRecognitionSource @fhcarter @AlexBlumer @namirfa
