Repository Vantiq/vantiq-extension-sources, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

.github/CODEOWNERS:

* @fhcarter @pbutterworth

/opcuaSource @fhcarter
/udpSource @fhcarter @AlexBlumer
/extjsdk @fhcarter @AlexBlumer
/objectRecognitionSource @fhcarter @AlexBlumer @namirfa

Update README.md (#60)
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Quick fix to not throw exception if we catch a MalformedURLExcpetion. The code will then try to recreate the VideoCapture, and if this fails it will throw the appropriate excption.
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/imageRetriever/NetworkStreamRetriever.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Changed log message to display the error that was caught.
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/imageRetriever/NetworkStreamRetriever.java
Owners: @fhcarter, @AlexBlumer, @namirfa

RTSP Network Stream Quick Fix (#61)
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/imageRetriever/NetworkStreamRetriever.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Modified diagnoseConnection method to handle RTSP as well as HTTP
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/imageRetriever/NetworkStreamRetriever.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Included error messages when catching exceptions, and changed .notVideoStream message
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/imageRetriever/NetworkStreamRetriever.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Diagnose Connection Fix (#62)
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/imageRetriever/NetworkStreamRetriever.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Changed Core to attempt to retry connecting to the source, as opposed to simply exiting.
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionCore.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Removed leftover commment
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionCore.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Made RECONNECT_INTERVAL, a constant representing the milliseconds to sleep between trying to reconnect.
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionCore.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Changed tests to validate new functionality of exitIfConnectionFails.
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/TestObjRecConfig.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/TestObjRecCore.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Handling Dropped Network Connection (#63)
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionCore.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/TestObjRecConfig.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/TestObjRecCore.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Update sending of query responses to correctly send status separately
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
Owners: @fhcarter, @AlexBlumer

Fixed sendDataFromImage() to only ever send one response
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionCore.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Fixed sendDataFromImage() to only ever send one response (#65)
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionCore.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Fix issue where the opcuademo.sterfive.com servers don't respond.
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Connection.java
Owners: @fhcarter

Fix problem with query operations dropping the last bits of data.
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketClient.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/TestObjRecCore.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Fix problem with queries dropping the last bit of data (#66)
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketClient.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/TestObjRecCore.java
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Connection.java
Owners: @fhcarter, @AlexBlumer, @namirfa
