Repository Vantiq/vantiq-extension-sources, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

.github/CODEOWNERS:

* @fhcarter @pbutterworth

/opcuaSource @fhcarter
/udpSource @fhcarter @AlexBlumer @namirfa
/extjsdk @fhcarter @AlexBlumer @namirfa
/objectRecognitionSource @fhcarter @AlexBlumer @namirfa

3
  HikVisionSource/README.md
Owners: @fhcarter, @pbutterworth

Apply suggestions from code review
  HikVisionSource/README.md
Owners: @fhcarter, @pbutterworth

2
  HikVisionSource/README.md
  HikVisionSource/build.gradle
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/CameraEntry.java
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/HikVisionCore.java
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/HikVisionHandleConfiguration.java
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/ImageUtil.java
  HikVisionSource/src/test/java/io/vantiq/extsrc/HikVisionSource/TestHikVisionBase.java
  HikVisionSource/src/test/java/io/vantiq/extsrc/HikVisionSource/TestHikVisionConfig.java
Owners: @fhcarter, @pbutterworth

4
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/HikVisionHandleConfiguration.java
Owners: @fhcarter, @pbutterworth

with Olieveir Remarks
  HikVisionSource/README.md
Owners: @fhcarter, @pbutterworth

clean code
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/HCNetSDK.java
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/HikVision.java
Owners: @fhcarter, @pbutterworth

Update README.md
  HikVisionSource/README.md
Owners: @fhcarter, @pbutterworth

Update build.gradle
  HikVisionSource/build.gradle
Owners: @fhcarter, @pbutterworth

Update HikVision.java
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/HikVision.java
Owners: @fhcarter, @pbutterworth

Apply suggestions from code review
  HikVisionSource/README.md
Owners: @fhcarter, @pbutterworth

5
  HikVisionSource/README.md
  HikVisionSource/build.gradle
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/HikVision.java
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/RealDataCallBack.java
Owners: @fhcarter, @pbutterworth

Update README.md
  HikVisionSource/README.md
Owners: @fhcarter, @pbutterworth

Roger Blumer Fixing
  HikVisionSource/README.md
Owners: @fhcarter, @pbutterworth

Update README.md
  HikVisionSource/README.md
Owners: @fhcarter, @pbutterworth

Update README.md
  HikVisionSource/README.md
Owners: @fhcarter, @pbutterworth

Update HikVisionImpl.json
  HikVisionSource/src/test/resources/HikVisionImpl.json
Owners: @fhcarter, @pbutterworth

gradle redirect to correct JNA
  HikVisionSource/README.md
  HikVisionSource/build.gradle
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/HCNetSDK.java
Owners: @fhcarter, @pbutterworth

Update .gitignore
  .gitignore
Owners: @fhcarter, @pbutterworth

Add Util & convert most to use it.
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVMain.java
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/EasyModbusMain.java
  extjsdk/src/main/java/io/vantiq/extjsdk/Utils.java
  gradle/wrapper/gradle-wrapper.properties
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBCMain.java
  jmsSource/src/main/java/io/vantiq/extsrc/jmsSource/JMSMain.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionMain.java
  opcuaSource/src/main/java/io/vantiq/extsrc/opcua/opcUaSource/OpcUaServer.java
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Add test for Utils.
  extjsdk/src/main/java/io/vantiq/extjsdk/Utils.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestUtils.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Enhance test to describe actual problem
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
Owners: @fhcarter, @pbutterworth

Convert UDP Source to use properties file.
  udpSource/src/main/java/io/vantiq/extsrc/udp/ConfigurableUDPSource.java
  udpSource/src/test/java/io/vantiq/extsrc/udp/TestConfigurableUDPSource.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Make length tests less precise.
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/imageRetriever/TestFileRetriever.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Fixup usage of new config file (commonized).`
  opcuaSource/src/main/java/io/vantiq/extsrc/opcua/opcUaSource/OpcUaServer.java
  opcuaSource/src/main/java/io/vantiq/extsrc/opcua/uaOperations/OpcConstants.java
Owners: @fhcarter

Fixup work with commonized config system
  udpSource/src/main/java/io/vantiq/extsrc/udp/ConfigurableUDPSource.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Default storage directory & relax the requirement for the command-line argument
  opcuaSource/src/main/java/io/vantiq/extsrc/opcua/opcUaSource/OpcUaServer.java
Owners: @fhcarter

Update readme's with common server.config options
  CSVSource/README.md
  EasyModbusSource/README.md
  jdbcSource/README.md
  jmsSource/README.md
  objectRecognitionSource/README.md
  opcuaSource/README.md
  udpSource/README.md
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Add SDK support for getting base configuration information (#217)
  CSVSource/README.md
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVMain.java
  EasyModbusSource/README.md
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/EasyModbusMain.java
  extjsdk/src/main/java/io/vantiq/extjsdk/Utils.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestUtils.java
  gradle/wrapper/gradle-wrapper.properties
  jdbcSource/README.md
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBCMain.java
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
  jmsSource/README.md
  jmsSource/src/main/java/io/vantiq/extsrc/jmsSource/JMSMain.java
  objectRecognitionSource/README.md
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionMain.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/imageRetriever/TestFileRetriever.java
  opcuaSource/README.md
  opcuaSource/src/main/java/io/vantiq/extsrc/opcua/opcUaSource/OpcUaServer.java
  opcuaSource/src/main/java/io/vantiq/extsrc/opcua/uaOperations/OpcConstants.java
  udpSource/README.md
  udpSource/src/main/java/io/vantiq/extsrc/udp/ConfigurableUDPSource.java
  udpSource/src/test/java/io/vantiq/extsrc/udp/TestConfigurableUDPSource.java
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Workingish version of gradle image build.
  build.gradle
  jdbcSource/build.gradle
  jdbcSource/src/main/docker/Dockerfile
Owners: @fhcarter, @pbutterworth

Cleaning up Dockerfile.
  jdbcSource/src/main/docker/Dockerfile
Owners: @fhcarter, @pbutterworth

Reviewer comments
  jdbcSource/build.gradle
Owners: @fhcarter, @pbutterworth

Quick commit changing jdbc image name to be lowercase.
  jdbcSource/build.gradle
Owners: @fhcarter, @pbutterworth

Add ability for SDK Utils to pickup authToken set as environment variable.
  extjsdk/src/main/java/io/vantiq/extjsdk/Utils.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestUtils.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Adding env var from gradle build.
  extjsdk/build.gradle
Owners: @fhcarter, @AlexBlumer, @namirfa

Changed logic to prioritize authToken set in server.config, and removed overwrite test.
  extjsdk/build.gradle
  extjsdk/src/main/java/io/vantiq/extjsdk/Utils.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestUtils.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Add ability to pickup credentials from environment variable (#220)
  extjsdk/build.gradle
  extjsdk/src/main/java/io/vantiq/extjsdk/Utils.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestUtils.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Add fixed len support + fixed reconnect message
  CSVSource/README.md
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVCore.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVHandleConfiguration.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVReader.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/FixedRecordfieldInfo.java
Owners: @fhcarter, @pbutterworth

Adding documentation for the env var change.
  CSVSource/README.md
  EasyModbusSource/README.md
  extjsdk/README.md
  jdbcSource/README.md
  jmsSource/README.md
  opcuaSource/README.md
  udpSource/README.md
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Fixing the references to sdk README
  CSVSource/README.md
  EasyModbusSource/README.md
  jdbcSource/README.md
  jmsSource/README.md
  opcuaSource/README.md
  udpSource/README.md
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Reviewer comments.
  CSVSource/README.md
  EasyModbusSource/README.md
  extjsdk/README.md
  jdbcSource/README.md
  jmsSource/README.md
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa
