Repository Vantiq/vantiq-extension-sources, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

.github/CODEOWNERS:

* @fhcarter @pbutterworth

/opcuaSource @fhcarter
/udpSource @fhcarter @AlexBlumer @namirfa
/extjsdk @fhcarter @AlexBlumer @namirfa
/objectRecognitionSource @fhcarter @AlexBlumer @namirfa

Apply suggestions from code review
  CSVSource/README.md
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVCore.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVHandleConfiguration.java
Owners: @fhcarter, @pbutterworth

4th-1
  CSVSource/README.md
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVReader.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVReaderFixedLength.java
Owners: @fhcarter, @pbutterworth

4th -2
  CSVSource/README.md
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVReader.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVConfigFixedLength.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVReaderFixedLength.java
Owners: @fhcarter, @pbutterworth

Apply suggestions from code review
  CSVSource/README.md
Owners: @fhcarter, @pbutterworth

5th
  CSVSource/README.md
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVReader.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSV.java
Owners: @fhcarter, @pbutterworth

Adding the testConnector code. Completed, but still needs a README/LICENSE.
  settings.gradle
  testConnector/build.gradle
  testConnector/src/main/docker/Dockerfile
  testConnector/src/main/java/io/vantiq/extsrc/testConnector/TestConnectorCore.java
  testConnector/src/main/java/io/vantiq/extsrc/testConnector/TestConnectorHandleConfiguration.java
  testConnector/src/main/java/io/vantiq/extsrc/testConnector/TestConnectorMain.java
  testConnector/src/main/resources/log4j2.xml
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/NoSendTestConnectorCore.java
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/TestTestConnectorConfig.java
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/TestTestConnectorCore.java
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/TestTestConnectorMain.java
  testConnector/src/test/resources/testConnectorImpl.json
Owners: @fhcarter, @pbutterworth

Adding LICENSE directory.
  testConnector/LICENSE/LICENSE.txt
  testConnector/LICENSE/apache-2.txt
  testConnector/LICENSE/jackson-databind-license.txt
  testConnector/LICENSE/log4j-license.txt
  testConnector/LICENSE/okhttp3-license.txt
  testConnector/LICENSE/slf4j-license.txt
  testConnector/README.md
Owners: @fhcarter, @pbutterworth

Adding example project.
  testConnector/src/test/resources/TestConnectorExample.zip
Owners: @fhcarter, @pbutterworth

Removing erroneous JDBC comments.
  testConnector/src/main/java/io/vantiq/extsrc/testConnector/TestConnectorHandleConfiguration.java
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/TestTestConnectorConfig.java
Owners: @fhcarter, @pbutterworth

Adding README.
  testConnector/README.md
Owners: @fhcarter, @pbutterworth

Cleaning up README
  testConnector/README.md
Owners: @fhcarter, @pbutterworth

Reviewer comments.
  testConnector/README.md
  testConnector/src/main/java/io/vantiq/extsrc/testConnector/TestConnectorCore.java
  testConnector/src/main/java/io/vantiq/extsrc/testConnector/TestConnectorHandleConfiguration.java
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/TestTestConnectorCore.java
Owners: @fhcarter, @pbutterworth

Adding example of try/catch block
  testConnector/README.md
Owners: @fhcarter, @pbutterworth

Adding the Test Connector (#233)
  settings.gradle
  testConnector/LICENSE/LICENSE.txt
  testConnector/LICENSE/apache-2.txt
  testConnector/LICENSE/jackson-databind-license.txt
  testConnector/LICENSE/log4j-license.txt
  testConnector/LICENSE/okhttp3-license.txt
  testConnector/LICENSE/slf4j-license.txt
  testConnector/README.md
  testConnector/build.gradle
  testConnector/src/main/docker/Dockerfile
  testConnector/src/main/java/io/vantiq/extsrc/testConnector/TestConnectorCore.java
  testConnector/src/main/java/io/vantiq/extsrc/testConnector/TestConnectorHandleConfiguration.java
  testConnector/src/main/java/io/vantiq/extsrc/testConnector/TestConnectorMain.java
  testConnector/src/main/resources/log4j2.xml
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/NoSendTestConnectorCore.java
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/TestTestConnectorConfig.java
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/TestTestConnectorCore.java
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/TestTestConnectorMain.java
  testConnector/src/test/resources/TestConnectorExample.zip
  testConnector/src/test/resources/testConnectorImpl.json
Owners: @fhcarter, @pbutterworth

Update CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
Owners: @fhcarter, @pbutterworth

Apply suggestions from code review
  CSVSource/README.md
Owners: @fhcarter, @pbutterworth

Extended CSV abilities (#228)
  CSVSource/README.md
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVCore.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVHandleConfiguration.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVMain.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVReader.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/FixedRecordfieldInfo.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSV.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVConfigFixedLength.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVReaderFixedLength.java
Owners: @fhcarter, @pbutterworth

Skip buildConnectorImage dependency when the task has not been created.
  build.gradle
Owners: @fhcarter, @pbutterworth

Skip buildConnectorImage dependency when the task has not been created. (#235)
  build.gradle
Owners: @fhcarter, @pbutterworth

Provide default values for dockerUser & password
  build.gradle
Owners: @fhcarter, @pbutterworth

Move setting of `dockerRegistryUser` & `dockerRegistryPassword`.
  build.gradle
Owners: @fhcarter, @pbutterworth

Provide default values for dockerUser & password (#237)
  build.gradle
Owners: @fhcarter, @pbutterworth

Clarifications & corrections about properties used for creating docker images.
  README.md
Owners: @fhcarter, @pbutterworth

Clarifications & corrections about properties used for creating docker images. (#239)
  README.md
Owners: @fhcarter, @pbutterworth

1
  .gitignore
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/CameraEntry.java
Owners: @fhcarter, @pbutterworth

Docker support
  CSVSource/README.md
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVCore.java
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Update ExtensionWebSocketClient.java
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Update CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
Owners: @fhcarter, @pbutterworth

fixing typos
  CSVSource/README.md
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/HikVision.java
Owners: @fhcarter, @pbutterworth

fixing typo
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Update ExtensionWebSocketClient.java
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Delete HikVision.java
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/HikVision.java
Owners: @fhcarter, @pbutterworth

Add checks to make sure the semaphore is not null before trying to release.
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Reviewer comments.
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Checks that semaphore is non-null before releasing (#244)
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Update ExtensionWebSocketClient.java
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
Owners: @fhcarter, @AlexBlumer, @namirfa

3rd typos
  CSVSource/README.md
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
Owners: @fhcarter, @pbutterworth

Update CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
Owners: @fhcarter, @pbutterworth

4th
  CSVSource/README.md
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
Owners: @fhcarter, @pbutterworth

Update CSVSource/README.md
  CSVSource/README.md
Owners: @fhcarter, @pbutterworth
