Repository Vantiq/vantiq-extension-sources, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Improve consistency of tests by watching for changing test conditions.
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Improve returned results for object rec. (#194)
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/classifier/YOLOClassifier.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Test prototype of high-load notifications
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestNoProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Revert tests in wrong place
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestNoProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Back to normal
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestNoProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

type
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestNoProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Change extension source type to match the test resource given.
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/NeuralNetTestBase.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestNoProcessorQueries.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestParallelProcessing.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloQueries.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloQueriesLocationMapper.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Improve test diagnostics.
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
Owners: @fhcarter, @pbutterworth

Fix #199 -- limit the concurrency of notifications.
  extjsdk/build.gradle
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketListener.java
  extjsdk/src/test/java/io/vantiq/extjsdk/RoundTripTestBase.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestWithServer.java
  extjsdk/src/test/resources/log4j2.xml
Owners: @fhcarter, @AlexBlumer, @namirfa

Catch exception & release if send fails.
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Fix lost message problem under heavy notification load (#200)
  extjsdk/build.gradle
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketListener.java
  extjsdk/src/test/java/io/vantiq/extjsdk/RoundTripTestBase.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestWithServer.java
  extjsdk/src/test/resources/log4j2.xml
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/NeuralNetTestBase.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestNoProcessorQueries.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestParallelProcessing.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloQueries.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloQueriesLocationMapper.java
Owners: @fhcarter, @AlexBlumer, @namirfa, @pbutterworth

Disallow List & arrays as parameters to sendNotification().
  extjsdk/README.md
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketClient.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Improve servicability of some tests in YOLOprocessor & jdbc.
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Disallow List or Array parameter to sendNotification() (#201)
  extjsdk/README.md
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketClient.java
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa, @pbutterworth

Remove old data
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Utils.java
Owners: @fhcarter

Change dependency to Milo 0.4.1
  opcuaSource/build.gradle
Owners: @fhcarter

Mark public milo server as flakey
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Utils.java
Owners: @fhcarter

Include center point in object locations.
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/ObjectDetector.java
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/classifier/YOLOClassifier.java
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/model/BoxPosition.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/LocationMapper.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/TestObjRecCore.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Update documentation
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Upgrade milo version to current -- 0.4.2
  opcuaSource/build.gradle
Owners: @fhcarter

Upgrade Eclipse Milo to current version. (#207)
  opcuaSource/build.gradle
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Utils.java
Owners: @fhcarter

Object Recognition Source: Add center point to bounding box description (#206)
  objectRecognitionSource/README.md
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/ObjectDetector.java
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/classifier/YOLOClassifier.java
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/model/BoxPosition.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/LocationMapper.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/TestObjRecCore.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

1st CSVExtension
  CSVSource/README.md
  CSVSource/build.gradle
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVCore.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVHandleConfiguration.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVMain.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVReader.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/exception/VantiqCSVException.java
  CSVSource/src/main/resources/log4j2.xml
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/NoSendCSVCore.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSV.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVBase.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVConfig.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVCore.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVMain.java
  CSVSource/src/test/resources/csvImpl.json
  CSVSource/src/test/resources/jdbcExample.zip
Owners: @fhcarter, @pbutterworth

EasyModbus 1st
  .gitignore
  EasyModbusSource/LICENSE/HikariCP-license.txt
  EasyModbusSource/LICENSE/LICENSE.txt
  EasyModbusSource/LICENSE/apache-2.txt
  EasyModbusSource/LICENSE/jackson-databind-license.txt
  EasyModbusSource/LICENSE/log4j-license.txt
  EasyModbusSource/LICENSE/okhttp3-license.txt
  EasyModbusSource/LICENSE/slf4j-license.txt
  EasyModbusSource/README.md
  EasyModbusSource/build.gradle
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/EasyModbus.java
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/EasyModbusCore.java
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/EasyModbusHandleConfiguration.java
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/EasyModbusMain.java
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/InputDiscrete.java
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/InputRegisters.java
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/Register.java
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/Value.java
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/exception/VantiqEasymodbusException.java
  EasyModbusSource/src/main/resources/log4j2.xml
  EasyModbusSource/src/test/java/io/vantiq/extsrc/EasyModbusSource/NoSendEasyModbusCore.java
  EasyModbusSource/src/test/java/io/vantiq/extsrc/EasyModbusSource/TestEasyModbus.java
  EasyModbusSource/src/test/java/io/vantiq/extsrc/EasyModbusSource/TestEasyModbusBase.java
  EasyModbusSource/src/test/java/io/vantiq/extsrc/EasyModbusSource/TestEasyModbusConfig.java
  EasyModbusSource/src/test/java/io/vantiq/extsrc/EasyModbusSource/TestEasyModbusCore.java
  EasyModbusSource/src/test/java/io/vantiq/extsrc/EasyModbusSource/TestEasyModbusMain.java
  EasyModbusSource/src/test/resources/EasyModbus Server Simulator (.NET Version).zip
  EasyModbusSource/src/test/resources/EasyModbusClient (.NET Version).zip
  EasyModbusSource/src/test/resources/EasyModbusExample.zip
  EasyModbusSource/src/test/resources/EasyModbusImpl.json
  EasyModbusSource/src/test/resources/EasyModbusLibrary for .NET (DLL).zip
Owners: @fhcarter, @pbutterworth

HikVision 1st
  .gitignore
  HikVisionSource/README.md
  HikVisionSource/build.gradle
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/CameraEntry.java
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/HCNetSDK.java
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/HikVision.java
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/HikVisionCore.java
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/HikVisionHandleConfiguration.java
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/HikVisionMain.java
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/ImageUtil.java
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/RealDataCallBack.java
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/ThermalNotification.java
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/exception/VantiqHikVisionException.java
  HikVisionSource/src/main/resources/log4j2.xml
  HikVisionSource/src/test/java/io/vantiq/extsrc/HikVisionSource/NoSendHikVisionCore.java
  HikVisionSource/src/test/java/io/vantiq/extsrc/HikVisionSource/TestHikVision.java
  HikVisionSource/src/test/java/io/vantiq/extsrc/HikVisionSource/TestHikVisionBase.java
  HikVisionSource/src/test/java/io/vantiq/extsrc/HikVisionSource/TestHikVisionConfig.java
  HikVisionSource/src/test/java/io/vantiq/extsrc/HikVisionSource/TestHikVisionCore.java
  HikVisionSource/src/test/java/io/vantiq/extsrc/HikVisionSource/TestHikVisionMain.java
  HikVisionSource/src/test/resources/HikVisionExample.zip
  HikVisionSource/src/test/resources/HikVisionImpl.json
Owners: @fhcarter, @pbutterworth

Update README.md
  HikVisionSource/README.md
Owners: @fhcarter, @pbutterworth

Readme fix
  .gitignore
  EasyModbusSource/README.md
Owners: @fhcarter, @pbutterworth

Readme fix
  .gitignore
  CSVSource/README.md
Owners: @fhcarter, @pbutterworth

Update CSVSource/README.md
  CSVSource/README.md
Owners: @fhcarter, @pbutterworth

Update CSVSource/README.md
  CSVSource/README.md
Owners: @fhcarter, @pbutterworth

fix first Review
  .vscode/settings.json
  CSVSource/a.csv
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVHandleConfiguration.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVReader.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSV.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVBase.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVConfig.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVReader.java
  CSVSource/src/test/resources/CSVExample.zip
  CSVSource/src/test/resources/jdbcExample.zip
  settings.gradle
Owners: @fhcarter, @pbutterworth

remove csv
  CSVSource/a.csv
Owners: @fhcarter, @pbutterworth

Apply suggestions from code review
  CSVSource/README.md
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
Owners: @fhcarter, @pbutterworth

3rd attempt
  .gitignore
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVHandleConfiguration.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVMain.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/NoSendCSVCore.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSV.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVBase.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVConfig.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVCore.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVMain.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVReader.java
  CSVSource/src/test/resources/CSVExample.zip
Owners: @fhcarter, @pbutterworth

Update Readme
  CSVSource/README.md
Owners: @fhcarter, @pbutterworth

Pool Review changes
  CSVSource/LICENSE/LICENSE.txt
  CSVSource/LICENSE/jackson-databind-license.txt
  CSVSource/LICENSE/log4j-license.txt
  CSVSource/LICENSE/okhttp3-license.txt
  CSVSource/LICENSE/slf4j-license.txt
  CSVSource/README.md
  CSVSource/build.gradle
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVCore.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVHandleConfiguration.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVReader.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/exception/VantiqCSVException.java
  CSVSource/src/main/resources/log4j2.xml
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSV.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVBase.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVConfig.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVCore.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVReader.java
  CSVSource/src/test/resources/CSVExample.zip
  CSVSource/src/test/resources/csvImpl.json
Owners: @fhcarter, @pbutterworth

4th try
  .gitignore
  CSVSource/README.md
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVHandleConfiguration.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVMain.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVReader.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVReader.java
Owners: @fhcarter, @pbutterworth

CodeFIx
  .gitignore
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/EasyModbus.java
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/EasyModbusCore.java
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/EasyModbusHandleConfiguration.java
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/InputDiscrete.java
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/InputRegisters.java
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/Register.java
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/Value.java
  EasyModbusSource/src/test/java/io/vantiq/extsrc/EasyModbusSource/TestEasyModbus.java
  settings.gradle
Owners: @fhcarter, @pbutterworth

2ed attempt
  .vscode/launch.json
  EasyModbusSource/README.md
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/EasyModbus.java
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/EasyModbusCore.java
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/EasyModbusHandleConfiguration.java
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/EasyModbusMain.java
  EasyModbusSource/src/test/java/io/vantiq/extsrc/EasyModbusSource/NoSendEasyModbusCore.java
  EasyModbusSource/src/test/java/io/vantiq/extsrc/EasyModbusSource/TestEasyModbus.java
  EasyModbusSource/src/test/java/io/vantiq/extsrc/EasyModbusSource/TestEasyModbusBase.java
  EasyModbusSource/src/test/java/io/vantiq/extsrc/EasyModbusSource/TestEasyModbusConfig.java
  EasyModbusSource/src/test/java/io/vantiq/extsrc/EasyModbusSource/TestEasyModbusCore.java
  EasyModbusSource/src/test/java/io/vantiq/extsrc/EasyModbusSource/TestEasyModbusMain.java
  settings.gradle
Owners: @fhcarter, @pbutterworth

3rd round
  .gitignore
  .vscode/settings.json
  CSVSource/README.md
  CSVSource/build.gradle
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVCore.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVHandleConfiguration.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVMain.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVReader.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSV.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVBase.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVConfig.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVReader.java
  CSVSource/src/test/resources/CSVExample.zip
Owners: @fhcarter, @pbutterworth

.github/CODEOWNERS:

* @fhcarter @pbutterworth

/opcuaSource @fhcarter
/udpSource @fhcarter @AlexBlumer @namirfa
/extjsdk @fhcarter @AlexBlumer @namirfa
/objectRecognitionSource @fhcarter @AlexBlumer @namirfa
