Repository Vantiq/vantiq-extension-sources, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

.github/CODEOWNERS:

* @fhcarter @pbutterworth

/opcuaSource @fhcarter
/udpSource @fhcarter @AlexBlumer @namirfa
/extjsdk @fhcarter @AlexBlumer @namirfa
/objectRecognitionSource @fhcarter @AlexBlumer @namirfa

README updates for Utils.obtainServerConfig() (#223)
  CSVSource/README.md
  EasyModbusSource/README.md
  extjsdk/README.md
  jdbcSource/README.md
  jmsSource/README.md
  opcuaSource/README.md
  udpSource/README.md
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Cleaning up leftover typos, and missing change to object rec connector
  CSVSource/README.md
  EasyModbusSource/README.md
  jdbcSource/README.md
  jmsSource/README.md
  objectRecognitionSource/README.md
  opcuaSource/README.md
  udpSource/README.md
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Cleaning up leftover typos, and missing change to object rec connector (#225)
  CSVSource/README.md
  EasyModbusSource/README.md
  jdbcSource/README.md
  jmsSource/README.md
  objectRecognitionSource/README.md
  opcuaSource/README.md
  udpSource/README.md
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Initial enhancement/bug fix, need to add documentation and test.
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVCore.java
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/EasyModbusCore.java
  extjsdk/build.gradle
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketListener.java
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBCCore.java
  jmsSource/src/main/java/io/vantiq/extsrc/jmsSource/JMSCore.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionCore.java
  udpSource/src/main/java/io/vantiq/extsrc/udp/ConfigurableUDPSource.java
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Tweak query tests so they pass, remove left-behind code
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketClient.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Pulling out reconnect code into a utility method, and converting it to a CompletableFuture
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVCore.java
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/EasyModbusCore.java
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBCCore.java
  jmsSource/src/main/java/io/vantiq/extsrc/jmsSource/JMSCore.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionCore.java
  udpSource/src/main/java/io/vantiq/extsrc/udp/ConfigurableUDPSource.java
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Adding description for reconnect util method.
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Adding apache license which covers the new guava dependency in the extsdk
  extjsdk/LICENSE/apache-2.txt
Owners: @fhcarter, @AlexBlumer, @namirfa

Adding simple tests to make sure doCoreReconnect actually initiates a connection, and see failedMessageQueue get filled and flushed.
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketClient.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Added documentation for new failedMessageQueue.
  extjsdk/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Tweaked comments and README.
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVCore.java
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/EasyModbusCore.java
  extjsdk/README.md
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBCCore.java
  jmsSource/src/main/java/io/vantiq/extsrc/jmsSource/JMSCore.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionCore.java
  udpSource/src/main/java/io/vantiq/extsrc/udp/ConfigurableUDPSource.java
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Fixing reconnectHandler issue in connectors, and adding ability in SDK to queue up messages that failed to send while reconnecting, and resend later (#226)
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVCore.java
  EasyModbusSource/src/main/java/io/vantiq/extsrc/EasyModbusSource/EasyModbusCore.java
  extjsdk/LICENSE/apache-2.txt
  extjsdk/README.md
  extjsdk/build.gradle
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketListener.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketClient.java
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBCCore.java
  jmsSource/src/main/java/io/vantiq/extsrc/jmsSource/JMSCore.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionCore.java
  udpSource/src/main/java/io/vantiq/extsrc/udp/ConfigurableUDPSource.java
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Update CSVCore.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVCore.java
Owners: @fhcarter, @pbutterworth

Implementation for building and pushing connectors as docker images.
  CSVSource/build.gradle
  CSVSource/src/main/docker/Dockerfile
  EasyModbusSource/build.gradle
  EasyModbusSource/src/main/docker/Dockerfile
  jdbcSource/build.gradle
  jmsSource/build.gradle
  jmsSource/src/main/docker/Dockerfile
  objectRecognitionSource/build.gradle
  objectRecognitionSource/src/main/docker/Dockerfile
  opcuaSource/build.gradle
  opcuaSource/src/main/docker/Dockerfile
  settings.gradle
  udpSource/build.gradle
  udpSource/src/main/docker/Dockerfile
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Fixed length record support
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVReader.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVConfigFixedLength.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVReaderFixedLength.java
Owners: @fhcarter, @pbutterworth

Write CSV file support
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVCore.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVHandleConfiguration.java
Owners: @fhcarter, @pbutterworth

FIxind write file support
  CSVSource/README.md
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVCore.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVHandleConfiguration.java
Owners: @fhcarter, @pbutterworth

Update TestCSV.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSV.java
Owners: @fhcarter, @pbutterworth

Reviewer comments, and documentation.
  CSVSource/build.gradle
  EasyModbusSource/build.gradle
  README.md
  build.gradle
  jdbcSource/build.gradle
  jmsSource/build.gradle
  objectRecognitionSource/build.gradle
  opcuaSource/build.gradle
  udpSource/build.gradle
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Adding one last gradle.property documentation
  README.md
Owners: @fhcarter, @pbutterworth

Removing leftover code
  build.gradle
Owners: @fhcarter, @pbutterworth

Reviewer comments.
  README.md
  build.gradle
  objectRecognitionSource/README.md
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Fixing typo
  README.md
Owners: @fhcarter, @pbutterworth

Making queue size configurable via env var.
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Changing code to not use dockerClientConfiguration.
  README.md
  build.gradle
Owners: @fhcarter, @pbutterworth

Reviewer comment.
  README.md
Owners: @fhcarter, @pbutterworth

Making queue size configurable via env var. (#230)
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Using gradle to build docker images (#218)
  CSVSource/build.gradle
  CSVSource/src/main/docker/Dockerfile
  EasyModbusSource/src/main/docker/Dockerfile
  README.md
  build.gradle
  jdbcSource/build.gradle
  jdbcSource/src/main/docker/Dockerfile
  jmsSource/build.gradle
  jmsSource/src/main/docker/Dockerfile
  objectRecognitionSource/README.md
  objectRecognitionSource/build.gradle
  objectRecognitionSource/src/main/docker/Dockerfile
  opcuaSource/build.gradle
  opcuaSource/src/main/docker/Dockerfile
  settings.gradle
  udpSource/build.gradle
  udpSource/src/main/docker/Dockerfile
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Handling missing or extra slashes.
  build.gradle
Owners: @fhcarter, @pbutterworth

Reviewer comments.
  build.gradle
Owners: @fhcarter, @pbutterworth

Handling missing or extra slashes. (#232)
  build.gradle
Owners: @fhcarter, @pbutterworth

Apply suggestions from code review
  CSVSource/README.md
Owners: @fhcarter, @pbutterworth

add avoid first line support
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVReader.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/FixedRecordfieldInfo.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVConfig.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVConfigFixedLength.java
Owners: @fhcarter, @pbutterworth

continue to fix remarks
  CSVSource/README.md
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVCore.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVHandleConfiguration.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVReader.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVConfig.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVConfigFixedLength.java
Owners: @fhcarter, @pbutterworth

Apply suggestions from code review
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVReader.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSV.java
Owners: @fhcarter, @pbutterworth

enhancing result code
  CSVSource/README.md
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
Owners: @fhcarter, @pbutterworth

Apply suggestions from code review
  CSVSource/README.md
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVReader.java
Owners: @fhcarter, @pbutterworth

2.1 fixes
  CSVSource/README.md
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSV.java
Owners: @fhcarter, @pbutterworth

change to inputstream then randomaccess and ability to set record size
  CSVSource/README.md
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVMain.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVReader.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/FixedRecordfieldInfo.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVConfigFixedLength.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVReaderFixedLength.java
Owners: @fhcarter, @pbutterworth

4th
  CSVSource/README.md
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVCore.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVReader.java
Owners: @fhcarter, @pbutterworth
