Repository Vantiq/vantiq-extension-sources, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Enhance CSVExtension source to work in Linux style docker (#243)
  CSVSource/README.md
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVCore.java
Owners: @fhcarter, @pbutterworth

1st
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/CameraEntry.java
  HikVisionSource/src/main/java/io/vantiq/extsrc/HikVisionSource/HikVision.java
Owners: @fhcarter, @pbutterworth

Initial addition of the LLRP Connector
  llrpConnector/LICENSE/LICENSE.txt
  llrpConnector/LICENSE/NOTICE.txt
  llrpConnector/LICENSE/apache-2.txt
  llrpConnector/LICENSE/jackson-databind-license.txt
  llrpConnector/LICENSE/json-license.txt
  llrpConnector/LICENSE/log4j-license.txt
  llrpConnector/LICENSE/okhttp3-license.txt
  llrpConnector/LICENSE/slf4j-license.txt
  llrpConnector/README.md
  llrpConnector/build.gradle
  llrpConnector/libs/ltkjava-1.0.0.7-with-dependencies.jar
  llrpConnector/src/main/docker/Dockerfile
  llrpConnector/src/main/java/io/vantiq/extsrc/llrpConnector/LLRPConnector.java
  llrpConnector/src/main/java/io/vantiq/extsrc/llrpConnector/LLRPConnectorCore.java
  llrpConnector/src/main/java/io/vantiq/extsrc/llrpConnector/LLRPConnectorHandleConfiguration.java
  llrpConnector/src/main/java/io/vantiq/extsrc/llrpConnector/LLRPConnectorMain.java
  llrpConnector/src/main/java/io/vantiq/extsrc/llrpConnector/VantiqLLRPException.java
  llrpConnector/src/main/java/io/vantiq/extsrc/llrpConnector/exception/VantiqLLRPException.java
  llrpConnector/src/main/resources/log4j2.xml
  llrpConnector/src/test/java/io/vantiq/extsrc/llrpConnector/NoSendLLRPConnectorCore.java
  llrpConnector/src/test/java/io/vantiq/extsrc/llrpConnector/TestLLRPConnectorConfig.java
  llrpConnector/src/test/java/io/vantiq/extsrc/llrpConnector/TestLLRPConnectorCore.java
  llrpConnector/src/test/java/io/vantiq/extsrc/llrpConnector/TestLLRPConnectorMain.java
  llrpConnector/src/test/resources/LLRPConnectorExample.zip
  llrpConnector/src/test/resources/llrpConnectorImpl.json
  settings.gradle
Owners: @fhcarter, @pbutterworth

Updated based on sider issues
  llrpConnector/LICENSE/jackson-databind-license.txt
  llrpConnector/README.md
  llrpConnector/src/main/java/io/vantiq/extsrc/llrpConnector/LLRPConnector.java
  llrpConnector/src/main/java/io/vantiq/extsrc/llrpConnector/LLRPConnectorCore.java
  llrpConnector/src/main/java/io/vantiq/extsrc/llrpConnector/LLRPConnectorHandleConfiguration.java
  llrpConnector/src/main/java/io/vantiq/extsrc/llrpConnector/LLRPConnectorMain.java
  llrpConnector/src/test/java/io/vantiq/extsrc/llrpConnector/NoSendLLRPConnectorCore.java
  llrpConnector/src/test/java/io/vantiq/extsrc/llrpConnector/TestLLRPConnectorConfig.java
  llrpConnector/src/test/java/io/vantiq/extsrc/llrpConnector/TestLLRPConnectorCore.java
  llrpConnector/src/test/java/io/vantiq/extsrc/llrpConnector/TestLLRPConnectorMain.java
Owners: @fhcarter, @pbutterworth

Updates based on Fred's first set of comments
  llrpConnector/LICENSE/jargs-license.txt
  llrpConnector/LICENSE/jdom-license.txt
  llrpConnector/README.md
  llrpConnector/src/main/java/io/vantiq/extsrc/llrpConnector/LLRPConnector.java
  llrpConnector/src/main/resources/log4j2.xml
Owners: @fhcarter, @pbutterworth

Update LLRP Connector example to include 2 sources
  llrpConnector/src/test/resources/LLRPConnectorExample.zip
Owners: @fhcarter, @pbutterworth

Removing Dockerfile commands originally intended to copy .meta/.pb/.labels files downloaded from the copyModels gradle task.
  objectRecognitionSource/src/main/docker/Dockerfile
Owners: @fhcarter, @AlexBlumer, @namirfa

Removing all mentions of 'when message arrives from', still need to update example project zips
  extjsdk/README.md
  extjsdk/src/test/java/io/vantiq/extjsdk/RoundTripTestBase.java
  jdbcSource/README.md
  jmsSource/README.md
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestParallelProcessing.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
  opcuaSource/README.md
  testConnector/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa, @pbutterworth

Correcting test changes.
  extjsdk/src/test/java/io/vantiq/extjsdk/RoundTripTestBase.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestParallelProcessing.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Changing all example projects that contained a rule referencing deprecated syntax.
  jdbcSource/src/test/resources/jdbcExample.zip
  jmsSource/src/test/resources/jmsExample.zip
  objectRecognitionSource/src/test/resources/objRecExample.zip
  opcuaSource/src/test/resources/opcua.zip
  testConnector/src/test/resources/TestConnectorExample.zip
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

FtpClient 1st
  FTPClientSource/LICENSE/LICENSE.txt
  FTPClientSource/LICENSE/jackson-databind-license.txt
  FTPClientSource/LICENSE/log4j-license.txt
  FTPClientSource/LICENSE/okhttp3-license.txt
  FTPClientSource/LICENSE/slf4j-license.txt
  FTPClientSource/README.md
  FTPClientSource/build.gradle
  FTPClientSource/src/main/docker/Dockerfile
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPClient.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPClientCore.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPClientHandleConfiguration.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPClientMain.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPServerEntry.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPUtil.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/exception/VantiqFTPClientException.java
  FTPClientSource/src/main/resources/log4j2.xml
  FTPClientSource/src/test/java/io/vantiq/extsrc/FTPClientSource/NoSendFTPClientCore.java
  FTPClientSource/src/test/java/io/vantiq/extsrc/FTPClientSource/TestFTPClient.java
  FTPClientSource/src/test/java/io/vantiq/extsrc/FTPClientSource/TestFTPClientBase.java
  FTPClientSource/src/test/java/io/vantiq/extsrc/FTPClientSource/TestFTPClientConfig.java
  FTPClientSource/src/test/java/io/vantiq/extsrc/FTPClientSource/TestFTPClientMain.java
  FTPClientSource/src/test/resources/FTPClientExample.zip
  FTPClientSource/src/test/resources/ftpClientImpl.json
  settings.gradle
Owners: @fhcarter, @pbutterworth

Removing references to deprecated syntax (#249)
  extjsdk/README.md
  extjsdk/src/test/java/io/vantiq/extjsdk/RoundTripTestBase.java
  jdbcSource/README.md
  jdbcSource/src/test/resources/jdbcExample.zip
  jmsSource/README.md
  jmsSource/src/test/resources/jmsExample.zip
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestParallelProcessing.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
  objectRecognitionSource/src/test/resources/objRecExample.zip
  opcuaSource/README.md
  opcuaSource/src/test/resources/opcua.zip
  testConnector/README.md
  testConnector/src/test/resources/TestConnectorExample.zip
Owners: @fhcarter, @AlexBlumer, @namirfa, @pbutterworth

Removing Dockerfile commands originally intended to copy .meta/.pb/.labels files downloaded from the copyModels gradle task. (#248)
  objectRecognitionSource/src/main/docker/Dockerfile
Owners: @fhcarter, @AlexBlumer, @namirfa

Adding reference to our K8s docs.
  README.md
Owners: @fhcarter, @pbutterworth

Build repository
  FTPClientSource/build.gradle
  FTPClientSource/src/main/docker/Dockerfile
Owners: @fhcarter, @pbutterworth

Update CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
Owners: @fhcarter, @pbutterworth

Update FTPServerEntry.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPServerEntry.java
Owners: @fhcarter, @pbutterworth

fix default value management
  FTPClientSource/README.md
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPClient.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPClientHandleConfiguration.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPServerEntry.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPUtil.java
Owners: @fhcarter, @pbutterworth

Update FTPClient.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPClient.java
Owners: @fhcarter, @pbutterworth

download images from Vantiq
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPClient.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPClientCore.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPClientHandleConfiguration.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPServerEntry.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPUtil.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/VantiqUtil.java
  FTPClientSource/src/test/java/io/vantiq/extsrc/FTPClientSource/VantiqUtilTest.java
Owners: @fhcarter, @pbutterworth

Add Support XML files and create folders
  CSVSource/build.gradle
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVReader.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/JSONException.java
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestXML.java
Owners: @fhcarter, @pbutterworth

Enhance multi ftp server support
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPClient.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPClientHandleConfiguration.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPServerEntry.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPUtil.java
Owners: @fhcarter, @pbutterworth

- fix rename after add regex
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
Owners: @fhcarter, @pbutterworth

Update CSVReader.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVReader.java
Owners: @fhcarter, @pbutterworth

Add archive support and XML type
  CSVSource/README.md
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
Owners: @fhcarter, @pbutterworth

First pass of working implementation, needs documentation and more manual testing.
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
  extjsdk/src/main/java/io/vantiq/extjsdk/Utils.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketClient.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Added new feature and tests to TestConnector.
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
  testConnector/src/main/java/io/vantiq/extsrc/testConnector/TestConnectorCore.java
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/NoSendTestConnectorCore.java
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/TestTestConnectorCore.java
Owners: @fhcarter, @AlexBlumer, @namirfa, @pbutterworth

Code cleanup
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
  extjsdk/src/main/java/io/vantiq/extjsdk/Utils.java
  testConnector/src/main/java/io/vantiq/extsrc/testConnector/TestConnectorCore.java
Owners: @fhcarter, @AlexBlumer, @namirfa, @pbutterworth

Reviewer comments.
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
  extjsdk/src/main/java/io/vantiq/extjsdk/Utils.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketClient.java
  testConnector/src/main/java/io/vantiq/extsrc/testConnector/TestConnectorCore.java
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/NoSendTestConnectorCore.java
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/TestTestConnectorCore.java
Owners: @fhcarter, @AlexBlumer, @namirfa, @pbutterworth

Removing typos.
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Update FTPUtil.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPUtil.java
Owners: @fhcarter, @pbutterworth

Fixes for reviewer comments
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
  extjsdk/src/main/java/io/vantiq/extjsdk/Utils.java
  testConnector/src/main/java/io/vantiq/extsrc/testConnector/TestConnectorCore.java
Owners: @fhcarter, @AlexBlumer, @namirfa, @pbutterworth

Adds handling for K8s Readiness/Liveness TCP Probe (#252)
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
  extjsdk/src/main/java/io/vantiq/extjsdk/Utils.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketClient.java
  testConnector/src/main/java/io/vantiq/extsrc/testConnector/TestConnectorCore.java
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/NoSendTestConnectorCore.java
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/TestTestConnectorCore.java
Owners: @fhcarter, @AlexBlumer, @namirfa, @pbutterworth

Enhance Logs
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPUtil.java
Owners: @fhcarter, @pbutterworth

Update CSVMain.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVMain.java
Owners: @fhcarter, @pbutterworth

HttpServer
  CSVSource/build.gradle
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/XMLHttpServer.java
Owners: @fhcarter, @pbutterworth

siberboot
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/XMLHttpServer.java
Owners: @fhcarter, @pbutterworth

siber2ed
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/XMLHttpServer.java
Owners: @fhcarter, @pbutterworth

Update XMLHttpServer.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/XMLHttpServer.java
Owners: @fhcarter, @pbutterworth

Update XMLHttpServer.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/XMLHttpServer.java
Owners: @fhcarter, @pbutterworth

.github/CODEOWNERS:

* @fhcarter @pbutterworth

/opcuaSource @fhcarter
/udpSource @fhcarter @AlexBlumer @namirfa
/extjsdk @fhcarter @AlexBlumer @namirfa
/objectRecognitionSource @fhcarter @AlexBlumer @namirfa
