Repository Vantiq/vantiq-extension-sources, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

.github/CODEOWNERS:

* @fhcarter @pbutterworth

/opcuaSource @fhcarter
/udpSource @fhcarter @AlexBlumer @namirfa
/extjsdk @fhcarter @AlexBlumer @namirfa
/objectRecognitionSource @fhcarter @AlexBlumer @namirfa

Code style cleanup.
  extjsdk/build.gradle
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketListener.java
  extjsdk/src/test/java/io/vantiq/extjsdk/FalseClient.java
  extjsdk/src/test/java/io/vantiq/extjsdk/FalseWebSocket.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketClient.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketListener.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestListener.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Missing NotNull annotation
  extjsdk/src/test/java/io/vantiq/extjsdk/FalseWebSocket.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Updating OkHttp to the latest version (#264)
  build.gradle
  extjsdk/README.md
  extjsdk/build.gradle
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketListener.java
  extjsdk/src/main/java/io/vantiq/extjsdk/Handler.java
  extjsdk/src/main/java/io/vantiq/extjsdk/Utils.java
  extjsdk/src/test/java/io/vantiq/extjsdk/ExtjsdkTestBase.java
  extjsdk/src/test/java/io/vantiq/extjsdk/FalseClient.java
  extjsdk/src/test/java/io/vantiq/extjsdk/FalseWebSocket.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketClient.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketListener.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestListener.java
  udpSource/build.gradle
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Fixing up Utils
  extjsdk/src/main/java/io/vantiq/extjsdk/Utils.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestUtils.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Reviewer comments.
  extjsdk/build.gradle
  extjsdk/src/main/java/io/vantiq/extjsdk/Utils.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketClient.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestUtils.java
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/TestTestConnectorConfig.java
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/TestTestConnectorCore.java
Owners: @fhcarter, @AlexBlumer, @namirfa, @pbutterworth

Fixing tests.
  extjsdk/src/test/java/io/vantiq/extjsdk/TestUtils.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Cleaning up tests for sider.
  extjsdk/src/test/java/io/vantiq/extjsdk/TestUtils.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Spacing typo.
  extjsdk/src/test/java/io/vantiq/extjsdk/TestUtils.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Fix Utils to only read server.config file once (#266)
  extjsdk/build.gradle
  extjsdk/src/main/java/io/vantiq/extjsdk/Utils.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketClient.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestUtils.java
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/TestTestConnectorConfig.java
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/TestTestConnectorCore.java
Owners: @fhcarter, @AlexBlumer, @namirfa, @pbutterworth

Updating version number.
  build.gradle
Owners: @fhcarter, @pbutterworth

Fix small issue caught while running tests that utilize Vantiq Java SDK.
  extjsdk/src/test/java/io/vantiq/extjsdk/TestWithServer.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Upgrading Java SDK version number (#268)
  build.gradle
  extjsdk/src/test/java/io/vantiq/extjsdk/TestWithServer.java
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

log enhancment
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPClient.java
  jdbcSource/build.gradle
Owners: @fhcarter, @pbutterworth

Add Auto upload image to Vantiq document
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPClient.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPClientCore.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPClientHandleConfiguration.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPServerEntry.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPUtil.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/VantiqUtil.java
Owners: @fhcarter, @pbutterworth

Update Vantiq SDK
  jdbcSource/build.gradle
  jmsSource/build.gradle
Owners: @fhcarter, @pbutterworth

Updating Java SDK version
  build.gradle
Owners: @fhcarter, @pbutterworth

Updating Java SDK version (#270)
  build.gradle
Owners: @fhcarter, @pbutterworth

Updating version.
  build.gradle
Owners: @fhcarter, @pbutterworth

Updating version. (#272)
  build.gradle
Owners: @fhcarter, @pbutterworth

Adding fix and a test.
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketClient.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Adding fix and a test. (#274)
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketClient.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Add reconnect secret constant
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionServiceMessage.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Set reconnect secret for each connection.
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Add tests for reconnect secrets
  extjsdk/build.gradle
  extjsdk/src/test/java/io/vantiq/extjsdk/RoundTripTestBase.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestWithServer.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Add tool to simulate unstable network on Mac OS
  extjsdk/src/test/resources/simulateUnstableNetwork.sh
Owners: @fhcarter, @AlexBlumer, @namirfa

Fix SIDER issues
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionServiceMessage.java
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
Owners: @fhcarter, @AlexBlumer, @namirfa

More SIDER fixes/ignores
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionServiceMessage.java
  extjsdk/src/test/java/io/vantiq/extjsdk/RoundTripTestBase.java
  extjsdk/src/test/resources/simulateUnstableNetwork.sh
Owners: @fhcarter, @AlexBlumer, @namirfa

Add some explication around RECONNECT_SECRET
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionServiceMessage.java
Owners: @fhcarter, @AlexBlumer, @namirfa

typos
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionServiceMessage.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Update reconnect protocol to deal with half-open connections (#276)
  extjsdk/build.gradle
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionServiceMessage.java
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
  extjsdk/src/test/java/io/vantiq/extjsdk/RoundTripTestBase.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestWithServer.java
  extjsdk/src/test/resources/simulateUnstableNetwork.sh
Owners: @fhcarter, @AlexBlumer, @namirfa

UTF8 for windows 8
  CSVSource/build.gradle
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVMain.java
  extjsdk/build.gradle
  jdbcSource/build.gradle
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

fix sdk version
  FTPClientSource/build.gradle
  extjsdk/build.gradle
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

fix empty status file bug
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVMain.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVReader.java
Owners: @fhcarter, @pbutterworth

import document to public
  CSVSource/build.gradle
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPClient.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPClientCore.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPClientHandleConfiguration.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPClientMain.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPServerEntry.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/VantiqUtil.java
  jdbcSource/build.gradle
Owners: @fhcarter, @pbutterworth

Update macOS build information based on `brew` changes
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Minor tweaks.
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Review comments...
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

More review comments
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Apply suggestions from code review
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Fix formating error
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa
