Repository Vantiq/vantiq-extension-sources, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

.github/CODEOWNERS:

* @fhcarter @pbutterworth

/opcuaSource @fhcarter
/udpSource @fhcarter @AlexBlumer @namirfa
/extjsdk @fhcarter @AlexBlumer @namirfa
/objectRecognitionSource @fhcarter @AlexBlumer @namirfa

HttpServer (#254)
  CSVSource/build.gradle
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/XMLHttpServer.java
Owners: @fhcarter, @pbutterworth

Update FTPClient.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPClient.java
Owners: @fhcarter, @pbutterworth

Update CSVReader.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVReader.java
Owners: @fhcarter, @pbutterworth

Stanility
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSV.java
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Changing all Vantiq SDK Java uses to have the (newest) same version
  CSVSource/build.gradle
  EasyModbusSource/build.gradle
  extjsdk/build.gradle
  jdbcSource/build.gradle
  jmsSource/build.gradle
  objectRecognitionSource/build.gradle
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Fixing typo.
  jdbcSource/build.gradle
Owners: @fhcarter, @pbutterworth

Generalizing the java sdk version
  CSVSource/build.gradle
  EasyModbusSource/build.gradle
  build.gradle
  extjsdk/build.gradle
  jdbcSource/build.gradle
  jmsSource/build.gradle
  objectRecognitionSource/build.gradle
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Adding reference to our K8s docs. (#251)
  README.md
Owners: @fhcarter, @pbutterworth

Adding rawBytes flag.
  testConnector/src/main/java/io/vantiq/extsrc/testConnector/TestConnectorCore.java
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/TestTestConnectorCore.java
Owners: @fhcarter, @pbutterworth

Reviewer comments.
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/TestTestConnectorCore.java
Owners: @fhcarter, @pbutterworth

Adding documentation for 'rawBytes'.
  testConnector/README.md
Owners: @fhcarter, @pbutterworth

Fixing tests to not remove new lines.
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/TestTestConnectorCore.java
Owners: @fhcarter, @pbutterworth

Adds ability for Test Connector to read raw bytes from files (#259)
  testConnector/README.md
  testConnector/src/main/java/io/vantiq/extsrc/testConnector/TestConnectorCore.java
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/TestTestConnectorCore.java
Owners: @fhcarter, @pbutterworth

Removing references to bintray and adding mavenCentral where necessary.
  CSVSource/build.gradle
  EasyModbusSource/build.gradle
  extjsdk/build.gradle
  jdbcSource/build.gradle
  jmsSource/build.gradle
  objectRecognitionSource/build.gradle
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Changing all Vantiq SDK Java uses to have the (newest) same version (#256)
  CSVSource/build.gradle
  EasyModbusSource/build.gradle
  build.gradle
  extjsdk/build.gradle
  jdbcSource/build.gradle
  jmsSource/build.gradle
  objectRecognitionSource/build.gradle
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

First pass at upgrading okhttp, working state but not finished.
  extjsdk/build.gradle
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketListener.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Double quotes -> single quotes
  build.gradle
Owners: @fhcarter, @pbutterworth

Take out server that's no longer functional
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Utils.java
Owners: @fhcarter

Clean up skippable tests in extjsdk
  extjsdk/src/test/java/io/vantiq/extjsdk/TestWithServer.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Clean up skipable tests in OR source
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestNoProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestNoProcessorQueries.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestParallelProcessing.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestUploadAndDeleteQuery.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloQueries.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloQueriesLocationMapper.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Clean up skips & test setup
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVReaderFixedLength.java
Owners: @fhcarter, @pbutterworth

Clean up sider whinging
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/TestObjRecConfig.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestNoProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestNoProcessorQueries.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestUploadAndDeleteQuery.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloQueries.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Add diagnostic msg
  udpSource/src/test/java/io/vantiq/extsrc/udp/TestConfigurableUDPSource.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Try to fix up localhost fetch mac vs. Jenkins
  udpSource/src/test/java/io/vantiq/extsrc/udp/TestConfigurableUDPSource.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Try to fix up localhost fetch mac vs. Jenkins -- socket shenanigans
  udpSource/src/test/java/io/vantiq/extsrc/udp/TestConfigurableUDPSource.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Code cleanup & documentation
  udpSource/src/test/java/io/vantiq/extsrc/udp/TestConfigurableUDPSource.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Make tests work better with Jenkins environment (move red bubbles --> yellow on test failures)
  build.gradle
Owners: @fhcarter, @pbutterworth

Fix sider issues
  udpSource/src/test/java/io/vantiq/extsrc/udp/TestConfigurableUDPSource.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Whitespace & sider fixes
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestNoProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Attempt #1 at silencing some sider warnings. Specifically, PMD.JUnit4TestShouldUseAfterAnnotation that complains about methods named `tearDown` that are not marked with @After.
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
  jmsSource/src/test/java/io/vantiq/extsrc/jmsSource/TestJMS.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestNoProcessorQueries.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestParallelProcessing.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestUploadAndDeleteQuery.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloQueries.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloQueriesLocationMapper.java
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

More sider ignores
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
Owners: @fhcarter, @pbutterworth

More sider ignores
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Utils.java
  udpSource/src/test/java/io/vantiq/extsrc/udp/TestConfigurableUDPSource.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Fixing Hebrew & Number combination
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVMain.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVReader.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/RTLReverse.java
Owners: @fhcarter, @pbutterworth

Fix skippable tests for simple unit testing (#263)
  CSVSource/src/test/java/io/vantiq/extsrc/CSVSource/TestCSVReaderFixedLength.java
  build.gradle
  extjsdk/src/test/java/io/vantiq/extjsdk/TestWithServer.java
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
  jmsSource/src/test/java/io/vantiq/extsrc/jmsSource/TestJMS.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/TestObjRecConfig.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestNoProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestNoProcessorQueries.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestParallelProcessing.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestUploadAndDeleteQuery.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloQueries.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloQueriesLocationMapper.java
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Utils.java
  testConnector/src/test/java/io/vantiq/extsrc/testConnector/NoSendTestConnectorCore.java
  udpSource/src/test/java/io/vantiq/extsrc/udp/TestConfigurableUDPSource.java
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Finished implementing changes and tweaked all tests to use the updated okhttp library.
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketClient.java
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketListener.java
  extjsdk/src/main/java/io/vantiq/extjsdk/Handler.java
  extjsdk/src/main/java/io/vantiq/extjsdk/Utils.java
  extjsdk/src/test/java/io/vantiq/extjsdk/ExtjsdkTestBase.java
  extjsdk/src/test/java/io/vantiq/extjsdk/FalseClient.java
  extjsdk/src/test/java/io/vantiq/extjsdk/FalseWebSocket.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketClient.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketListener.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestListener.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Cleaning up comments.
  extjsdk/src/test/java/io/vantiq/extjsdk/FalseWebSocket.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketClient.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketListener.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestListener.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Removing references/dependencies to old okhttp library
  extjsdk/README.md
  udpSource/build.gradle
Owners: @fhcarter, @AlexBlumer, @namirfa

Adding documentation for sendPings.
  extjsdk/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Reviewer comments.
  extjsdk/README.md
  extjsdk/src/main/java/io/vantiq/extjsdk/ExtensionWebSocketListener.java
  extjsdk/src/test/java/io/vantiq/extjsdk/FalseWebSocket.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketClient.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketListener.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestListener.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Sider style comments.
  extjsdk/src/test/java/io/vantiq/extjsdk/TestExtensionWebSocketClient.java
  extjsdk/src/test/java/io/vantiq/extjsdk/TestListener.java
Owners: @fhcarter, @AlexBlumer, @namirfa
