Repository Vantiq/vantiq-extension-sources, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

.github/CODEOWNERS:

* @fhcarter @pbutterworth

/opcuaSource @fhcarter
/udpSource @fhcarter @AlexBlumer @namirfa
/extjsdk @fhcarter @AlexBlumer @namirfa
/objectRecognitionSource @fhcarter @AlexBlumer @namirfa

Naf obj poll fix (#95)
  README.md
  objectRecognitionSource/README.md
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionConfigHandler.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/TestObjRecConfig.java
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Update README.md
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Update README.md
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Update README.md (#96)
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Make storage directory that's uncreatable on windows.
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Connection.java
Owners: @fhcarter

Make storage directory that's uncreatable on windows. (#97)
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Connection.java
Owners: @fhcarter

Adding option to save original image without labels.
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/ObjectDetector.java
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/util/ImageUtil.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/neuralNet/YoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Changed default to save images without labels, and changed name of the config option.
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/ObjectDetector.java
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/util/ImageUtil.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/neuralNet/YoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Added tests for new image labeling option.
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/imageRetriever/TestNetworkStreamRetriever.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Update README.md
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Fixed test to use a helper function for the redundant work.
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Reorganizing code to show workflow of labelling and saving images more clearly.
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/ObjectDetector.java
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/util/ImageUtil.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/neuralNet/YoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Update README.md
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Changed code so that we are not checking ImageUtil as if it is a boolean. Added a 'saveImage' property to the ImageUtil class to use as a boolean check instead.
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/ObjectDetector.java
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/util/ImageUtil.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/neuralNet/YoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Quick change to test for readability/consistency.
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Update README.md
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Update README.md
  README.md
Owners: @fhcarter, @pbutterworth

Naf obj #92 (#98)
  README.md
  objectRecognitionSource/README.md
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/ObjectDetector.java
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/util/ImageUtil.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/neuralNet/YoloProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/imageRetriever/TestNetworkStreamRetriever.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Adding the data requested by Brett in Issue #91.
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/util/ImageUtil.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionCore.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/neuralNet/YoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Update README.md
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Adding test to check sourceName is included in outgoing data.
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/TestObjRecCore.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Added functionality to save images in vantiq with the source name included. Added the filename as part of the JSON data sent back to VANTIQ.
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/ObjectDetector.java
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/util/ImageUtil.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionConfigHandler.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionCore.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/neuralNet/NeuralNetInterface.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/neuralNet/YoloProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/TestObjRecCore.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/BasicTestNeuralNet.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/NeuralNetTestBase.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Making sure filename is N/A if image saving is not set
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/ObjectDetector.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/neuralNet/YoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Update README.md
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Update README.md
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Changed returned data to only add filename field if image saving is turned on.
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionCore.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/neuralNet/YoloProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/TestObjRecCore.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Changed test source name.
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/NeuralNetTestBase.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Adding the data requested by Brett in Issue #91. (#99)
  objectRecognitionSource/README.md
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/ObjectDetector.java
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/util/ImageUtil.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionConfigHandler.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionCore.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/neuralNet/NeuralNetInterface.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/neuralNet/YoloProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/TestObjRecCore.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/BasicTestNeuralNet.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/NeuralNetTestBase.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Fixing issue with beforeNext(), replaced with a do-while.
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBC.java
Owners: @fhcarter, @pbutterworth

Getting rid of an extra space
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBC.java
Owners: @fhcarter, @pbutterworth

Fixing issue with beforeNext(), replaced with a do-while. (#102)
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBC.java
Owners: @fhcarter, @pbutterworth

Changing location values returned to be the scaled values.
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/ObjectDetector.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Changing location values returned to be the scaled values. (#104)
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/ObjectDetector.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Adding anchors to config options so that user can customize anchors, or use default values.
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/ObjectDetector.java
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/classifier/YOLOClassifier.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/neuralNet/YoloProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/imageRetriever/TestNetworkStreamRetriever.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Adding fixes to Fred's comments.
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/ObjectDetector.java
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/classifier/YOLOClassifier.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/neuralNet/YoloProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Update README.md
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Cleaning up test to use JSON String, and adding better comments/debugs.
  objectRecognitionSource/src/main/java/edu/ml/tensorflow/classifier/YOLOClassifier.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/neuralNet/YoloProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Update README.md
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Updated example project to have anchors in source config.
  objectRecognitionSource/src/test/resources/objRecExample.zip
Owners: @fhcarter, @AlexBlumer, @namirfa

Update README.md
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa
