Repository Vantiq/vantiq-extension-sources, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Cleaned up a few comments, changed the reconnectHandler because new version was not working correctly.
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBC.java
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBCCore.java
Owners: @fhcarter, @pbutterworth

Adding VANTIQ copyright to the files where it is missing.
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBC.java
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/NoSendJDBCCore.java
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBCBase.java
Owners: @fhcarter, @pbutterworth

Changed createMapFromResults to match the 'oddball types' such as dates or decimals, and retrieve the data appropriately. Added tests to make sure these features work.
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBC.java
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
Owners: @fhcarter, @pbutterworth

Create README.md
  jdbcSource/README.md
Owners: @fhcarter, @pbutterworth

Added LICENSE folder containing all licenses. Added sample source definition and sample project under src/test/resources.
  jdbcSource/LICENSE/LICENSE.txt
  jdbcSource/LICENSE/jackson-databind-license.txt
  jdbcSource/LICENSE/log4j-license.txt
  jdbcSource/LICENSE/okhttp3-license.txt
  jdbcSource/LICENSE/slf4j-license.txt
  jdbcSource/src/test/resources/jdbcExample.zip
  jdbcSource/src/test/resources/jdbcImpl.json
Owners: @fhcarter, @pbutterworth

Added fixes to createMapFromResults and JDBCTest, and made a better version of the sample project.
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBC.java
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
  jdbcSource/src/test/resources/jdbcExample.zip
Owners: @fhcarter, @pbutterworth

Update README.md
  jdbcSource/README.md
Owners: @fhcarter, @pbutterworth

Checkpoint for sending data as array instead of arraylist.
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBC.java
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBCCore.java
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
Owners: @fhcarter, @pbutterworth

Update README.md
  jdbcSource/README.md
Owners: @fhcarter, @pbutterworth

Update README.md
  jdbcSource/README.md
Owners: @fhcarter, @pbutterworth

Cleaned up version of VANTIQ project, and added apache license.
  jdbcSource/LICENSE/apache-2.txt
  jdbcSource/src/test/resources/jdbcExample.zip
Owners: @fhcarter, @pbutterworth

Add runtime dependency on bouncy castle library(-ies).
  opcuaSource/build.gradle
Owners: @fhcarter

Correct version of bouncy castle
  opcuaSource/build.gradle
Owners: @fhcarter

Improve error handling when opc isn't connected yet.
  opcuaSource/src/main/java/io/vantiq/extsrc/opcua/opcUaSource/OpcUaSource.java
  opcuaSource/src/main/java/io/vantiq/extsrc/opcua/uaOperations/OpcUaESClient.java
Owners: @fhcarter

Extend tests to cover further security policies
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Connection.java
Owners: @fhcarter

Fix issues with query stalling when opc connection failure (#82)
  opcuaSource/build.gradle
  opcuaSource/src/main/java/io/vantiq/extsrc/opcua/opcUaSource/OpcUaSource.java
  opcuaSource/src/main/java/io/vantiq/extsrc/opcua/uaOperations/OpcUaESClient.java
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Connection.java
Owners: @fhcarter

Update README.md
  jdbcSource/README.md
Owners: @fhcarter, @pbutterworth

Update README.md
  jdbcSource/README.md
Owners: @fhcarter, @pbutterworth

Update README.md
  jdbcSource/README.md
Owners: @fhcarter, @pbutterworth

Initial JDBC Implementation (#84)
  .gitignore
  jdbcSource/LICENSE/LICENSE.txt
  jdbcSource/LICENSE/apache-2.txt
  jdbcSource/LICENSE/jackson-databind-license.txt
  jdbcSource/LICENSE/log4j-license.txt
  jdbcSource/LICENSE/okhttp3-license.txt
  jdbcSource/LICENSE/slf4j-license.txt
  jdbcSource/README.md
  jdbcSource/build.gradle
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBC.java
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBCCore.java
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBCHandleConfiguration.java
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBCMain.java
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/exception/VantiqSQLException.java
  jdbcSource/src/main/resources/log4j2.xml
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/NoSendJDBCCore.java
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBCBase.java
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBCConfig.java
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBCCore.java
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBCMain.java
  jdbcSource/src/test/resources/jdbcExample.zip
  jdbcSource/src/test/resources/jdbcImpl.json
  settings.gradle
Owners: @fhcarter, @pbutterworth

Changed JDBC_DRIVER_LOC dependency from testRuntime to runtime.
  jdbcSource/build.gradle
Owners: @fhcarter, @pbutterworth

Update README.md
  jdbcSource/README.md
Owners: @fhcarter, @pbutterworth

Update README.md
  jdbcSource/README.md
Owners: @fhcarter, @pbutterworth

Update README.md
  jdbcSource/README.md
Owners: @fhcarter, @pbutterworth

Naf jdbc #85 (#86)
  jdbcSource/README.md
  jdbcSource/build.gradle
Owners: @fhcarter, @pbutterworth

Add support for overriding values returned by the discovery server.
  opcuaSource/README.md
  opcuaSource/src/main/java/io/vantiq/extsrc/opcua/uaOperations/OpcConstants.java
  opcuaSource/src/main/java/io/vantiq/extsrc/opcua/uaOperations/OpcUaESClient.java
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Connection.java
Owners: @fhcarter

Add support for overriding values returned by the discovery server. (#88)
  opcuaSource/README.md
  opcuaSource/src/main/java/io/vantiq/extsrc/opcua/uaOperations/OpcConstants.java
  opcuaSource/src/main/java/io/vantiq/extsrc/opcua/uaOperations/OpcUaESClient.java
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Connection.java
Owners: @fhcarter

Increase log level for SDK; allow boolean option in config file
  opcuaSource/src/main/java/io/vantiq/extsrc/opcua/uaOperations/OpcUaESClient.java
  opcuaSource/src/main/resources/log4j2.xml
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Connection.java
  opcuaSource/src/test/resources/log4j2.xml
Owners: @fhcarter

Increase log level for SDK; allow boolean option in config file (#89)
  opcuaSource/src/main/java/io/vantiq/extsrc/opcua/uaOperations/OpcUaESClient.java
  opcuaSource/src/main/resources/log4j2.xml
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Connection.java
  opcuaSource/src/test/resources/log4j2.xml
Owners: @fhcarter

Simple changes to fix logs in tests and when retrieving OpenCV Lib. Also added a missing 'assumeTrue' in TestYoloProcessor.
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/imageRetriever/CameraRetriever.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/TestObjRecConfig.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Simple changes to fix logs in tests and when retrieving OpenCV Lib. Also added a missing 'assumeTrue' in TestYoloProcessor. (#93)
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/imageRetriever/CameraRetriever.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/TestObjRecConfig.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Enhance (failing) test output. Add back (now) working OPC UA server.
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Connection.java
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Utils.java
Owners: @fhcarter

Fix to check for both pollRate and pollTime in source config. Need to add test.
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionConfigHandler.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Added test for pollTime vs. pollRate.
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/TestObjRecConfig.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Update README.md
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Enhance (failing) test output. Add back (now) working OPC UA server. (#94)
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Connection.java
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Utils.java
Owners: @fhcarter

Cleaning up comment in pollTime fix.
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionConfigHandler.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Update README.md
  README.md
Owners: @fhcarter, @pbutterworth

Removed redundant code, added deprecated comment. Fixed assert string in TestObjRecConfig
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionConfigHandler.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/TestObjRecConfig.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Added log.warn for deprecated config option.
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionConfigHandler.java
Owners: @fhcarter, @AlexBlumer, @namirfa

.github/CODEOWNERS:

* @fhcarter @pbutterworth

/opcuaSource @fhcarter
/udpSource @fhcarter @AlexBlumer @namirfa
/extjsdk @fhcarter @AlexBlumer @namirfa
/objectRecognitionSource @fhcarter @AlexBlumer @namirfa
