Repository Vantiq/vantiq-extension-sources, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Update macOS installation instructions for OpenCV for OR Connector (#279)
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Update instructions based on actual use.
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Update instructions based on actual use. (#281)
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Make tests more tolerant of flaky free, public servers.
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Connection.java
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Utils.java
Owners: @fhcarter

Fixup Sider warnings
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Connection.java
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Utils.java
Owners: @fhcarter

Follow up on fixing sider warnings...
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Connection.java
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Utils.java
Owners: @fhcarter

Review fixes...
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Connection.java
Owners: @fhcarter

Make tests more tolerant of unpredictability in public servers. (#284)
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Connection.java
  opcuaSource/src/test/java/io/vantiq/extsrc/opcua/uaOperations/Utils.java
Owners: @fhcarter

Added a missing colon to make the sample work
  jdbcSource/README.md
Owners: @fhcarter, @pbutterworth

Update FTPUtil.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPUtil.java
Owners: @fhcarter, @pbutterworth

Update FTPServerEntry.java
  FTPClientSource/src/main/java/io/vantiq/extsrc/FTPClientSource/FTPServerEntry.java
Owners: @fhcarter, @pbutterworth

Added a missing colon to make the sample work (#285)
  jdbcSource/README.md
Owners: @fhcarter, @pbutterworth

Update CSVMain.java
  CSVSource/src/main/java/io/vantiq/extsrc/CSVSource/CSVMain.java
Owners: @fhcarter, @pbutterworth

Fix test URL for apparent new version.
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/imageRetriever/TestNetworkStreamRetriever.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Adding documentation for baseConfigProperties, and showing examples for each connector.
  CSVSource/src/test/resources/csvImpl.json
  EasyModbusSource/src/test/resources/EasyModbusImpl.json
  README.md
  jmsSource/src/test/resources/jmsImpl.json
  objectRecognitionSource/src/test/resources/objRecImpl.json
  opcuaSource/src/test/resources/opcuaImpl.json
  testConnector/src/test/resources/testConnectorImpl.json
  udpSource/src/main/resources/udpImpl.json
  udpSource/src/test/resources/udpImpl.json
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Documenting the tcp probe support.
  extjsdk/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Adding camera to objRec baseConfigProps.
  objectRecognitionSource/src/test/resources/objRecImpl.json
Owners: @fhcarter, @AlexBlumer, @namirfa

Documenting the tcp probe support. (#289)
  extjsdk/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

Add documentation for baseConfigProperties and include examples (#288)
  CSVSource/src/test/resources/csvImpl.json
  EasyModbusSource/src/test/resources/EasyModbusImpl.json
  README.md
  jmsSource/src/test/resources/jmsImpl.json
  objectRecognitionSource/src/test/resources/objRecImpl.json
  opcuaSource/src/test/resources/opcuaImpl.json
  testConnector/src/test/resources/testConnectorImpl.json
  udpSource/src/main/resources/udpImpl.json
  udpSource/src/test/resources/udpImpl.json
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Fix typos
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionConfigHandler.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Add description for configurable RTSP transports
  objectRecognitionSource/README.md
Owners: @fhcarter, @AlexBlumer, @namirfa

First pass at converting OR to use JavaCV.
  objectRecognitionSource/build.gradle
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionConfigHandler.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/ObjectRecognitionCore.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/imageRetriever/CameraRetriever.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/imageRetriever/FileRetriever.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/imageRetriever/ImageRetrieverInterface.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/imageRetriever/NetworkStreamRetriever.java
  objectRecognitionSource/src/main/java/io/vantiq/extsrc/objectRecognition/neuralNet/YoloProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/imageRetriever/TestNetworkStreamRetriever.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/NeuralNetTestBase.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestNoProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestNoProcessorQueries.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestParallelProcessing.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestUploadAndDeleteQuery.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloQueries.java
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloQueriesLocationMapper.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Remove dependency on OPENCV_LOC
  settings.gradle
Owners: @fhcarter, @pbutterworth

Test Fix
  objectRecognitionSource/src/test/java/io/vantiq/extsrc/objectRecognition/neuralNet/TestYoloProcessor.java
Owners: @fhcarter, @AlexBlumer, @namirfa

Add test for dates stomping upon one another
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
Owners: @fhcarter, @pbutterworth

Ensure that test fails when code bad code (& will succeed once fix is in).
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
Owners: @fhcarter, @pbutterworth

Move SimpleDateFormat instances to within the method using them.
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBC.java
Owners: @fhcarter, @pbutterworth

Code cleanup
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBC.java
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBCCore.java
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
Owners: @fhcarter, @pbutterworth

Code & test cleanup.
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
Owners: @fhcarter, @pbutterworth

Add comment regarding thread workings
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
Owners: @fhcarter, @pbutterworth

Add test for parallel date queries.
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
Owners: @fhcarter, @pbutterworth

Handle many, simultaneous date queries.
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBC.java
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBCCore.java
Owners: @fhcarter, @pbutterworth

Sider reviewer comments...
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBC.java
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBCCore.java
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
Owners: @fhcarter, @pbutterworth

More Sider fixes/avoidances
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBC.java
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
Owners: @fhcarter, @pbutterworth

More Sider fixes
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
Owners: @fhcarter, @pbutterworth

Correctly handle multi-threaded queries involving dates (#292)
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBC.java
  jdbcSource/src/main/java/io/vantiq/extsrc/jdbcSource/JDBCCore.java
  jdbcSource/src/test/java/io/vantiq/extsrc/jdbcSource/TestJDBC.java
Owners: @fhcarter, @pbutterworth

Update log4J to version 2.15.0
  CSVSource/build.gradle
  EasyModbusSource/build.gradle
  build.gradle
  extjsdk/build.gradle
  jdbcSource/build.gradle
  jmsSource/build.gradle
  objectRecognitionSource/build.gradle
  opcuaSource/build.gradle
  testConnector/build.gradle
  udpSource/build.gradle
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Clean up log4j references in opcua build.gradle
  opcuaSource/build.gradle
Owners: @fhcarter

Update log4j Version (#296)
  CSVSource/build.gradle
  EasyModbusSource/build.gradle
  build.gradle
  extjsdk/build.gradle
  jdbcSource/build.gradle
  jmsSource/build.gradle
  objectRecognitionSource/build.gradle
  opcuaSource/build.gradle
  testConnector/build.gradle
  udpSource/build.gradle
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

Remove outdated jcenter references
  CSVSource/build.gradle
  EasyModbusSource/build.gradle
  build.gradle
  extjsdk/build.gradle
  jdbcSource/build.gradle
  jmsSource/build.gradle
  objectRecognitionSource/build.gradle
  opcuaSource/build.gradle
  testConnector/build.gradle
  udpSource/build.gradle
Owners: @fhcarter, @pbutterworth, @AlexBlumer, @namirfa

.github/CODEOWNERS:

* @fhcarter @pbutterworth

/opcuaSource @fhcarter
/udpSource @fhcarter @AlexBlumer @namirfa
/extjsdk @fhcarter @AlexBlumer @namirfa
/objectRecognitionSource @fhcarter @AlexBlumer @namirfa
